source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Browser.Dom
nuget Fable.Recharts ~> 0.1.0-beta-003
nuget Fable.SimpleJson
nuget FSharp.Core redirects:force
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Electron
nuget Fable.Node
nuget Fable.Promise
nuget Fable.React
nuget Fulma