# Generic iCEstick placement constraints file
# From https://github.com/cyrozap/iCEstick-UART-Demo

# D connector
set_io D0 121
set_io D13 142 #LED

# FTDI Port B UART
set_io DCDn 3
set_io DSRn 4
set_io DTRn 7
set_io CTSn 8
set_io RTSn 9
set_io RS232_Tx_TTL 10
set_io RS232_Rx_TTL 11

# SPI
set_io SPI_SCK 70
set_io SPI_SI 68
set_io SPI_SO 67
set_io SPI_SS_B 71

# Configuration pins
set_io CDONE 65
set_io CRESET_B 66

# 12 MHz clock
set_io debug_clk 52

#Push buttons
set_io PB0 56
set_io PB1 60
set_io PB2 61
set_io PB3 62
