source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Import.Browser
nuget Fable.Recharts ~> 0.1.0-beta-003
nuget Fable.SimpleJson
nuget FSharp.Core redirects:force
nuget Fable.Core ~> 2.0.3
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Import.Electron
nuget Fable.Import.Node
nuget Fable.PowerPack
nuget Fable.React ~> 4.1.3
nuget Fulma