$fa-font-path: './../../../node_modules/font-awesome/fonts/';

@import './../../../node_modules/font-awesome/scss/font-awesome.scss';
@import './../../../node_modules/bulma/bulma.sass';

.testhover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F0D6BA;
}

.testhover:hover {
    height: 25px;
    background-color: #7EA5A3;
}

/* horizontal panel*/
.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
}

.panel-left {
    flex: 0 0 auto; /* only manually resize */
    padding: 10px;
    width: 300px;
    min-height: 200px;
    min-width: 150px;
    white-space: nowrap;
    background: #838383;
    color: white;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    min-height: 200px;
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto; /* resizable */
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
}

//Waveform simulator styles

$transLen: 0.1;
$vPos: 0.0;
$zoomFactor: 1.2;
$waveVBextraHeight: 0.5;
$maxBusValGap: 3;
$busLabelTextSize: 0.6; // multiplied by signal height
$waveBoxPercWidth: 73.0%;
$clkLineWidth: 0.0125;
$boxStrokeThck: 0.05;
$persvgwidth: 100;
$sigLineThick: 0.025;
$clkRulerHeight: 1;

.floatLeft{
    float: left;
}

.sigLineStyle { 
    stroke: blue;
    stroke-width: $sigLineThick;
}

.clkLineStyle {
    stroke: rgb(200,200,200);
    stroke-width: $clkLineWidth;
}

.cursorRectStyle { 
    top: calc($sigLineThick / 2);
    left: calc($vPos + $boxStrokeThck / 2.0);
    width: calc($waveBoxPercWidth / 10.0);
    stroke: black;
    fill: rgb(220,220,220);
    stroke-width: 0;
    fill-opacity: 5.0;
}

.busValueStyle {
    fill: black;
    text-anchor: middle;
}

.blackLabel {
    fill: black;

    .waveLblStyle {
        left: 0;
        text-anchor: start;
    }

    .cursValLblStyle {
        left: 0;
        text-anchor: start;
    }
}

.waveLblDivStyle {
    float: left;
    clear: both;
    width: 20%;
}

.waveLblSvgStyle{ 
    width: 100%;
}

.cursorDivStyle { 
    float: right;
    width: 5%;
    position: relative;
}

.cursorDivSvgStyle { 
    width: 100%;
}

.waveRightSmallDivStyle { 
    width: 100%;
    overflow-x: scroll;
    position: absolute;
}

.waveCellStyle { 
    overflow-x: scroll;
}

.buttonStyle {
    padding: 0% 0%;
    width: 3%;
    height: 1%;
    position: relative;
    color: red;
    float: left;

    .cursorButtonStyle {
    }

    .reloadButtonStyle {
    }

    .newWaveButtonStyle {
        width: 100%;
        font-size: 5%;
    }
}

.zoomDiv {
    float: right;
    position: absolute;
    bottom: 4%;
    right: 2%;
    width: 25%;
}

.zoomButtonStyle {
    padding: 0% 0%;
    width: 20%;
    height: 20%;
    color: red;
    position: relative;
    float: left;
}

.clkNumStyle { 
    font-size: 1.5%;
    text-anchor: middle;
    top: calc($clkRulerHeight * 0.5);
}

.clkRulerSvgStyle {
    height: $clkRulerHeight;
}

.waveSimTableStyle {
    border-top: 2px solid black;
    width: 100%;
    height: 92%;
    border-spacing: 0;
    overflow-x: scroll;
}

.wavesColStyle {
    overflow-x: auto;
}

.wavesColTableStyle {
    width: 100%;
    height: 100%;
    position: relative;
}

.wavesColDivStyle {
    overflow-x: scroll;
    height: 100%;
}

.waveNamesCol {
    text-align: right;
    border-right: 2px solid black;
    white-space: nowrap;
    vertical-align: bottom;
    font-size: 75%;
}

.cursValsCol {
    width: 5%;
    border-left: 2px solid black;
    vertical-align: bottom;
    font-size: 75%;
}