$fa-font-path: './../../../node_modules/font-awesome/fonts/';

@import './../../../node_modules/font-awesome/scss/font-awesome.scss';
@import './../../../node_modules/bulma';
@import './../../../node_modules/~bulma-tooltip';


#Draw2dCanvas {
    z-index: -10
}

//Waveform simulator styles
$transLen: 0.1;
$vPos: 0.0;
$zoomFactor: 1.2;
$waveVBextraHeight: 0.5;
$maxBusValGap: 3;
$busLabelTextSize: 0.6; // multiplied by signal height
$clkLineWidth: 0.0125;
$boxStrokeThck: 0.05;
$persvgwidth: 100;
$sigLineThick: 0.025;

.fullHeight {
    height: 100%;
}

.rowHeight {
    height: 30px;
}

.floatLeft {
    float: left;
}

//waveform svg elements

.sigLineStyle {
    stroke-width: $sigLineThick;
}

.clkLineStyle {
    stroke: rgb(200,200,200);
    stroke-width: $clkLineWidth;
}

.cursorRectStyle {
    background-color: rgb(230,230,230);
    stroke-width: 0;
    //fill-opacity: 0.4;
    opacity: 0.4;
    z-index: 6;
    height: 100%;
    position: absolute;
}

.clkNumStyle {
    font-size: 1.5%;
    text-anchor: middle;
    top: 0.5;
}

.clkRulerSvg {
    display: block;
    height: 100%;
}

.lastWaveCellSvg {
    height: 100%;
    display: block;
    position: absolute;
}

.waveCellSvg {
    display: block;
    height: 100%;
}

//labels
.busValueStyle {
    fill: black;
    text-anchor: middle;
}

.waveLbl {
    fill: black;
    left: 0;
    text-anchor: start;
    margin: 5px;
}

.ramVals {
    fill: black;
    left: 0;
    text-anchor: start;
    margin: 3px;
}

.cursVals {
    fill: black;
    left: 0;
    text-anchor: start;
    margin: 5px;
}

.blackLabel {
    fill: black;

    .cursValLblStyle {
        left: 0;
        text-anchor: start;
    }
}

.waveLblSvgStyle {
    width: 100%;
}

//divs

.waveLblDivStyle {
    float: left;
    clear: both;
    width: 20%;
}

.cursorDivStyle {
    float: right;
    width: 150px;
    position: relative;
}

.zoomDiv {
    float: right;
    position: absolute;
    bottom: 4%;
    right: 2%;
    width: 120px;
}

.waveNamesCol {
    text-align: right;
    border-right: 2px solid rgb(219,219,219);
    white-space: nowrap;
    vertical-align: bottom;
    font-size: 12px;
    min-width: 100px;
}

.cursValsCol {
    vertical-align: bottom;
    font-size: 12px;
    min-width: 25px;
}


.leftTable {
    border: 2px solid rgb(219,219,219);
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.wavesTable {
    min-height: 100%;
    // height: fit-content;
    position: relative;
    border: 2px solid rgb(219,219,219);
    overflow-x: scroll;
    overflow-y: hidden;
}

.checkboxCol {
    border-right: 2px solid rgb(219,219,219);
    vertical-align: bottom;
    width: 5px;
}

.wACheckboxCol {
    vertical-align: bottom;
    width: 5px;
}

.check {
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.rightSectionTabs {
    font-size: 80%;
    overflow-x: hidden;
    height: 33px;
}

//buttons

.disabledButton {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.reloadButtonStyle {
    margin: 0 20px 0 20px;
    width: 100px;
    height: 30px;
    position: relative;
    float: left;
    border-color: gray;
    border-width: 1px
}

%waveNameHeaderBut {
    margin: 0;
    height: 30px;
    float: left;
    position: relative;
    border-color: gray;
    border-width: 1px;
    border-radius: 0;
}

.newWaveButton {
    @extend %waveNameHeaderBut;
    width: 100%;
}

.delWaveButton {
    @extend %waveNameHeaderBut;
    margin: 0 0 0 0;
    width: 50%;
}

.newWaveLabel {
    font-size: 70%;
    position: relative;
    float: left;
    vertical-align: bottom;
    background: #48c774;
    border: thin;
}

.updownDiv {
    width: 100%;
    position: relative;
    height: 30px;
    float: left;
}

.updownBut {
    margin: 0;
    display: block;
    width: 100%;
    height: 50%;
    padding: 0 0 0 0;
    top: 0;
    font-size: 40%;
    position: relative;
    //color: white;
    //background: #3273dc;
    border-color: gray;
    border-width: 1px;
    border-radius: 0;
}

//cursor group

.cursor {
    float: right;
    position: relative;
    height: 30px;
    text-align: center;
    width: 100px;
    display: inline-block;
    font-size: 13px;
    margin: 0 20px 0 20px;
    resize: vertical;

    .form {
        margin: 0 0 0 0;
        float: left;
        text-align: center;
        width: 40px;
        display: inline-block;
        font-size: 13px;
        resize: vertical;
        -webkit-appearance: none;
        border-color: gray;
        border-width: 1px 1px 1px 1px;
    }
}

%cursBut {
    margin: 0;
    height: 30px;
    padding: 0;
    width: 30px;
    position: relative;
    //color: white;
    //border: rgb(128, 128, 128);
    float: left;
    border-color: gray;
    border-width: 1px;
}

.cursLeft {
    @extend %cursBut;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    //background: #3273dc;
}

.cursRight {
    @extend %cursBut;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    //background: #3273dc;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//zoom group
.hZoomLabel {
    float: left;
    position: relative;
}

%zoomBut {
    padding: 0 0;
    width: 30px;
    height: 30px;
    //background: #3273dc;
    //color: white;
    position: relative;
    float: left;
    border-color: gray;
    border-width: 1px;
    z-index: 7;
}

.zoomButLeft {
    @extend %zoomBut;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.zoomButRight {
    @extend %zoomBut;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
