$fa-font-path: './../../../node_modules/font-awesome/fonts/';

@import './../../../node_modules/font-awesome/scss/font-awesome.scss';
@import './../../../node_modules/bulma/bulma.sass';

#Draw2dCanvas {
    z-index: -10
}

//Waveform simulator styles
$transLen: 0.1;
$vPos: 0.0;
$zoomFactor: 1.2;
$waveVBextraHeight: 0.5;
$maxBusValGap: 3;
$busLabelTextSize: 0.6; // multiplied by signal height
$waveBoxPercWidth: 100%;
$clkLineWidth: 0.0125;
$boxStrokeThck: 0.05;
$persvgwidth: 100;
$sigLineThick: 0.025;

.fullHeight {
    height: 100%;
}

.rowHeight {
    height: 5%;
}

.floatLeft{
    float: left;
}

//waveform svg elements

.sigLineStyle { 
    stroke: blue;
    stroke-width: $sigLineThick;
}

.clkLineStyle {
    stroke: rgb(200,200,200);
    stroke-width: $clkLineWidth;
}

.cursorRectStyle { 
    y: 0; //calc(#{$sigLineThick} / 2);
    width: calc(#{$waveBoxPercWidth} / 10.0);
    stroke: black;
    fill: rgb(230,230,230);
    stroke-width: 0;
    fill-opacity: 5.0;
}

.clkNumStyle {
    font-size: 1.5%;
    text-anchor: middle;
    top: 0.5;
}

.clkRulerSvg {
    display: block;
    height: 5%;
    position: absolute;
}

.lastWaveCellSvg {
    height: 100%;
    display: block;
}

.waveCellSvg {
    display: block;
    height: 5%;
    position: absolute;
}

//labels
.busValueStyle {
    fill: black;
    text-anchor: middle;
}

.waveLbl {
    fill: black;
    left: 0;
    text-anchor: start;
    margin: 5px;
}

.cursVals {
    fill: black;
    left: 0;
    text-anchor: start;
    margin: 5px;
}

.blackLabel {
    fill: black;

    .cursValLblStyle {
        left: 0;
        text-anchor: start;
    }
}

.waveLblSvgStyle {
    width: 100%;
}

//divs

.waveLblDivStyle {
    float: left;
    clear: both;
    width: 20%;
}

.cursorDivStyle { 
    float: right;
    width: 5%;
    position: relative;
}

.cursorDivSvgStyle { 
    width: 100%;
}

.zoomDiv {
    float: right;
    position: absolute;
    bottom: 4%;
    right: 2%;
    width: 25%;
}

.waveRightSmallDivStyle { 
    width: 100%;
    overflow-x: scroll;
    position: absolute;
}

.waveCellStyle { 
    overflow-x: scroll;
}

.wavesColDivStyle {
    overflow-x: scroll;
    height: 100%;
}

.waveNamesCol {
    text-align: right;
    border-right: 2px solid rgb(219,219,219);
    white-space: nowrap;
    vertical-align: bottom;
    font-size: 75%;
}

.cursValsCol {
    width: 5%;
    border-left: 2px solid rgb(219,219,219);
    vertical-align: bottom;
    font-size: 75%;
}


.waveSimTableStyle {
    border-top: 2px solid rgb(219,219,219);
    width: 100%;
    height: 93%;
    border-spacing: 0;
    overflow-x: scroll;
}

.wavesColStyle {
    overflow-x: auto;
}

.wavesColTableStyle {
    width: 100%;
    height: 100%;
    position: relative;
}

.checkboxCol {
    border-right: 2px solid rgb(219,219,219);
    vertical-align: bottom;
}

.reloadButtonDiv {
    float: left;
    height: 64.3%; 
    Width: 20%;
}

//buttons

.buttonStyle {
    padding: 0% 0%;
    width: 3%;
    height: 1%;
    position: relative;
    color: red;
    float: left;

    .cursorButtonStyle {
    }
}

.reloadButtonStyle {
    padding: 0% 0%;
    width: 3%;
    height: 1%;
    position: relative;
    color: red;
    float: left;
}

.newWaveButton {
    padding: 0% 0%;
    height: 3%;
    width: 3%;
    top: 14.5%;
    font-size: 80%;
    position: absolute;
}

.newWaveLabel {
    font-size: 70%;
    left: 5.3%;
    top: 15%;
    position: absolute;
}

.updownDiv {
    left: 5.3%;
    width: 5%;
    position: absolute;
    top: 14.5%;
    height: 3%;
}

.updownButton {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0 0 0 0;
    top: 0;
    font-size: 40%;
    position: relative;
}

.reloadButtonStyle {
    fill: red;
    height: 100%;
    width: 100%;
    margin: 0 10px 0 10px;
}

.zoomButtonStyle {
    padding: 0% 0%;
    width: 20%;
    height: 20%;
    color: red;
    position: relative;
    float: left;
}


//cursor group

.cursor-group {
    float: right;
    position: relative;
    height: 64.3%;
    text-align: center;
    width: 15%;
    display: inline-block;
    font-size: 13px;
    margin: 0 10px 0 10px;
    resize: vertical;
}

.cursor-form {
    float: left;
    position: relative;
    height: 100%;
    text-align: center;
    width: 50%;
    display: inline-block;
    font-size: 13px;
    resize: vertical;
    -webkit-appearance: none;
}

.button-plus {
    float: right;
    font-weight: bold;
    height: 100%;
    padding: 0;
    width: 25%;
    position: relative;
}

.button-minus {
    float: left;
    font-weight: bold;
    height: 100%;
    padding: 0;
    width: 25%;
    position: relative;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//radix group
.radix-div {
    width: 35%;
    float: right;
    margin: 0 10px 0 10px;
}

//zoom group
.hZoomLabel {
    float: left;
    position: relative;
}
