$fa-font-path: './../../../node_modules/font-awesome/fonts/';

@import './../../../node_modules/font-awesome/scss/font-awesome.scss';
@import './../../../node_modules/bulma/bulma.sass';

#Draw2dCanvas {
    z-index: -10
}

//Waveform simulator styles
$transLen: 0.1;
$vPos: 0.0;
$zoomFactor: 1.2;
$waveVBextraHeight: 0.5;
$maxBusValGap: 3;
$busLabelTextSize: 0.6; // multiplied by signal height
$clkLineWidth: 0.0125;
$boxStrokeThck: 0.05;
$persvgwidth: 100;
$sigLineThick: 0.025;

.fullHeight {
    height: 100%;
}

.rowHeight {
    height: 30px;
}

.floatLeft{
    float: left;
}

//waveform svg elements

.sigLineStyle { 
    stroke-width: $sigLineThick;
}

.clkLineStyle {
    stroke: rgb(200,200,200);
    stroke-width: $clkLineWidth;
}

.cursorRectStyle { 
    stroke: black;
    fill: rgb(230,230,230);
    stroke-width: 0;
    fill-opacity: 5.0;
}

.clkNumStyle {
    font-size: 1.5%;
    text-anchor: middle;
    top: 0.5;
}

.clkRulerSvg {
    display: block;
    height: 100%;
}

.lastWaveCellSvg {
    height: 100%;
    display: block;
}

.waveCellSvg {
    display: block;
    height: 100%;
}

//labels
.busValueStyle {
    fill: black;
    text-anchor: middle;
}

.waveLbl {
    fill: black;
    left: 0;
    text-anchor: start;
    margin: 5px;
}

.cursVals {
    fill: black;
    left: 0;
    text-anchor: start;
    margin: 5px;
}

.blackLabel {
    fill: black;

    .cursValLblStyle {
        left: 0;
        text-anchor: start;
    }
}

.waveLblSvgStyle {
    width: 100%;
}

//divs

.waveLblDivStyle {
    float: left;
    clear: both;
    width: 20%;
}

.cursorDivStyle { 
    float: right;
    width: 5%;
    position: relative;
}

.zoomDiv {
    float: right;
    position: absolute;
    bottom: 4%;
    right: 2%;
    width: 25%;
}

.waveNamesCol {
    text-align: right;
    border-right: 2px solid rgb(219,219,219);
    white-space: nowrap;
    vertical-align: bottom;
    font-size: 12px;
    min-width: 25px;
    width: 25px;
}

.cursValsCol {
    vertical-align: bottom;
    font-size: 12px;
    min-width: 15px;
    width: 15px;
}


.waveSimTableStyle {
    border-top: 2px solid rgb(219,219,219);
    width: 100%;
    height: 93%;
    border-spacing: 0;
}

.wavesColTableStyle {
    height: 100%;
    position: relative;
    border-right: 2px solid rgb(219,219,219);
}

.checkboxCol {
    border-right: 2px solid rgb(219,219,219);
    vertical-align: bottom;
    width: 5px;
}



//buttons

.reloadButtonStyle {
    padding: 0% 0%;
    margin: 0 2px 0 2px;
    width: 60px;
    height: 30px;
    position: relative;
    color: red;
    float: left;
}

.newWaveButton {
    margin: 0 2px 0 2px;
    padding: 0 0;
    height: 100%;
    width: 33%;
    font-size: 80%;
    position: relative;
    float: left;
}

.newWaveLabel {
    font-size: 70%;
    position: relative;
    float: left;
    vertical-align: bottom;
}

.updownDiv {
    width: 45%;
    position: relative;
    height: 100%;
    float: left;
}

.updownButton {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0 0 0 0;
    top: 0;
    font-size: 40%;
    position: relative;
}

.zoomButtonStyle {
    padding: 0% 0%;
    width: 20%;
    height: 20%;
    color: red;
    position: relative;
    float: left;
}

//limits groups
.limits-group {
    float: left;
    position: relative;
    height: 30px;
    text-align: center;
    width: 200px;
    display: inline-block;
    font-size: 13px;
    margin: 0 10px 0 10px;
    resize: vertical;
}

.limits-but-div {
    width: 20px;
    position: relative;
    height: 100%;
    float: left;
}

.limits-form {
    float: left;
    position: relative;
    height: 100%;
    text-align: center;
    width: 30px;
    display: inline-block;
    font-size: 13px;
    resize: vertical;
    -webkit-appearance: none;
}

//cursor group

.cursor-group {
    float: right;
    position: relative;
    height: 30px;
    text-align: center;
    width: 80px;
    display: inline-block;
    font-size: 13px;
    margin: 0 10px 0 10px;
    resize: vertical;
}

.cursor-form {
    float: left;
    position: relative;
    height: 100%;
    text-align: center;
    width: 50%;
    display: inline-block;
    font-size: 13px;
    resize: vertical;
    -webkit-appearance: none;
}

.button-plus {
    float: right;
    font-weight: bold;
    height: 100%;
    padding: 0;
    width: 25%;
    position: relative;
}

.button-minus {
    float: left;
    font-weight: bold;
    height: 100%;
    padding: 0;
    width: 25%;
    position: relative;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//zoom group
.hZoomLabel {
    float: left;
    position: relative;
}
