$fa-font-path: './../../../node_modules/font-awesome/fonts/';

@import './../../../node_modules/font-awesome/scss/font-awesome.scss';
@import './../../../node_modules/bulma/bulma.sass';

.testhover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F0D6BA;
}

.testhover:hover {
    height: 25px;
    background-color: #7EA5A3;
}

