---
---

@import "jekyll-theme-architect";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Open+Sans:400,600,700);
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

header {
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #2e7bcf url(../images/backgroundArchitect2.PNG) 0 0 repeat-x;
    border-bottom: solid 1px #275da1;
}

header h2 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0;
  }

body {
// font-family: 'Helvetica Neue', Helvetica, Arial, serif;
font-family: 'Inconsolata', 'Helvetica';
font-size: 20px;
font-weight: 400;
line-height: 1.5;
color: #666;
background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}



#main-content code{
  margin-bottom: 30px;
  font-family: 'Inconsolata', 'Helvetica';
  font-size: 18px;
  color: #222;
  padding: 0 3px;
  background-color: #c8c8c88d;
  border: solid 1px #dbe7f3;
}


.inner {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

#main-content {
    float: left;
    width: 100%;
  }

p { font-family: 'Helvetica';}

li { font-family: 'Helvetica';}

#main-content img {
max-width: 100%;
}

#main-content h1:before {
    padding-right: 0.3em;
    margin-left: -0.9em;
    color: #9ddcff;
    content: "";
}

  
#main-content h1{
    text-align: center;
    font-family: 'Inconsolata', 'Helvetica';
}
#main-content h1::after {
    content:' ';
    display: block;
    border: 1px solid #faa916;
    margin-bottom: 15px;
    margin-top: -4px;
}

#main-content h2 {
    margin-bottom: 8px;
    // font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-family: 'Inconsolata', 'Helvetica';
    font-size: 36px;
    font-weight: bold;
    color: #474747;
    text-indent: 4px;
    }

#main-content h2:before {
    padding-right: 0.3em;
    margin-left: -1.5em;
    content: "/";
    color: #faa916;
    }

#main-content h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'Inconsolata', 'Helvetica';
    font-size: 24px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px;
    }
    
#main-content h3:before {
    padding-right: 0.3em;
    margin-left: -2em;
    content: "//";
    color: #faa916;
    }
    
  #main-content h4 {
    margin-bottom: 8px;
    font-family: 'Inconsolata', 'Helvetica';
    font-size: 15px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px;
  }
  
  h4:before {
    padding-right: 0.3em;
    margin-left: -2.8em;
    content: "///";
    color: #faa916;
  }
  
  #main-content h5 {
    margin-bottom: 8px;
    font-family: 'Inconsolata', 'Helvetica';
    font-size: 14px;
    color: #474747;
    text-indent: 3px;
  }
  h5:before {
    padding-right: 0.3em;
    margin-left: -3.2em;
    content: "////";
    color: #faa916;
  }
a.button small {
    display: block;
    font-size: 14px;
    }

a.blogbutton {
    width: 134px;
    height: 58px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 23px;
    line-height: 1.2;
    color: #fff;
    }

a.blogbutton small {
    display: block;
    font-size: 14px;
    }

aside a.blogbutton {
    display: block;
    width: 138px;
    padding-left: 74px;
    margin-bottom: 20px;
    font-size: 21px;
    background: transparent url(../images/blogbutton.png) 0 0 no-repeat;
}



/* -------- NAVIGATION BAR STYLE ---------- */

/* Add a black background color to the top navigation */
.topnav {
	background-color: #faa916;
	overflow: hidden;
	line-height: 20px;
	vertical-align: middle;
	font-weight: 600;
	flex-direction: column;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	margin: 0.5%;
	padding: 0.75%;	
	color: #272838;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	
}

/* Change the color of links on hover */
.topnav a:hover {
	border-radius: 5px;
	background-color: #FBFFFE;
	color: #272838;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
	flex-direction: column;
	overflow: hidden;
	vertical-align: middle;
}

.topnav-right a {
	float: right;
	margin: 0.5%;
    margin-right: 30px;
	padding: 0.75%;
	color: #FBFFFE;
	background-color: #01ABAA;
	border: 1px solid #FBFFFE;
	border-radius: 5px;
}


/* -------- PANNEL STYLE -------  */

.IntroBackground {
	margin-top: 0.5%;
	background: url('../images/back.PNG');
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
}

.IntroLayer {
	margin-top: 0.5%;
	background-color: rgba(250, 169, 22, 0.8);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
}


.image {
    display: inline-block; /*or inline-block*/
  }


.row {
display: flex;
}

.column-text {
flex: 40%;
margin-top: auto;
margin-bottom: auto;
}
.column-gap {
flex: 5%;
}

.column-image {
flex: 55%;
}

.row:after {
content: "";
display: table;
clear: both;
}


/* Posts */

#posts {
    li {
      list-style-type:circle;
    }
  }
  
  #post-page {
    margin-bottom: 1.5em;
    @media (min-width: 940px) {
        margin-bottom: 1.3334em;
      }
  }
  
  .post+.post:before {
      display: block;
      content: '';
      width: 5rem;
      height: 1px;
      margin: 23px auto;
      background-color: lighten(#fafafa, 70%);
    }
  
  .by-line {
    display: block;
    color: lighten(#666, 25%);
    line-height: 1.5em; /* 24px/16px */
    margin-bottom: 1.5em; /* 24px/16px */
    font-weight: 200;
    @media (min-width: 940px) {
      display: block;
      color: lighten(#666, 25%);
      line-height: 1.3334em; /* 24px/18px */
      margin-bottom: 1.3334em; /* 24px/18px */
      font-weight: 200;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;
  }
  
  img[title="Emerald"] {
      box-shadow: 0 2px 6px #ddd;
    }
  
  code {
    color: lighten(#666, 35%);
    background-color: lighten(#fafafa, 35%);
  }
  
  /* Set the vertical rhythm (and padding-left) for lists inside post content */
  
  .content ul, .content ol {
    line-height: 1.5em; /* 24px/16px */
    padding-left: 1.5em;
    @media (min-width: 940px) {
      line-height: 1.33334em; /* 24px/18px */
    }
  }
  
  /* Pages */
  
  #page ul, #page ol {
    padding-left: 1.5em;
  }
  
  /* Paginator */
  
  .pagination {
    text-align: center;
    margin: 2.666668em;
    span {
      background-color: darken(#fafafa, 5%);
      color: #666;
    }
    a:hover {
      background-color: lighten(#fafafa, 5%);
    }
  }
  .page-item {
    background-color: #fafafa;
    color: #fafafa;
    padding: 4px 8px;
    font-weight: 400;
    padding: 0.5em 1em;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;
  }
  
