on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
    - name: Restore tools
      run: dotnet tool restore
    - name: Paket install
      run: dotnet paket install
    - name: Run build_docs.sh
      run: ./build_docs.sh
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.ISSIE_DOCS_TOKEN }}
        publish_dir: ./output


# A new personal access token must be generated to allow the GitHub Actions workflow to push to the repository.
# The token must have the 'repo' scope.
# Generate here https://github.com/settings/tokens/new
# Add the token to the repository secrets as ISSIE_DOCS_TOKEN
# https://docs.github.com/en/actions/reference/encrypted-secrets#creating-encrypted-secrets-for-a-repository


